.body {
  background-image: url("back1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.top-nav{
    color:white;
    text-align: center;
    background-color: rgb(221, 92, 92) ;
    padding: 20px;
    font-size: 40px;
    

}

.main_nav{
    background-color: #343a40 !important;
    text-align: center;
}

.nav-item-link{
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
}
.nav-item-link:hover{
    background-color: #3e8e41;
}

.dropbtn {
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
    
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}





.title{
    text-align: center;
    background-color: #343a40 !important;
    color: whitesmoke;
    padding: 10px;
    margin: 50px;
}
.area{
    margin: 50px;
}

.text-dark {
    color: #343a40 !important;
  }

.section{
      width: 100%;

  }

.imageSection{
 width: 50%;
 float: left;
  }
.contentSection{

    width: 50%;
    float: left;
  }
  .contentSection h2{
    padding: 10px;
    text-align: center;
    text-transform:uppercase ;
}
.contentSection p{
    padding: 0 20px 20px 20px;
    text-align: justify;
    font-size: 120%;
}

.img {
  float: left;
  width: 220px;
  height: 250px;
  border: #343a40 1px solid;

}

.product {
  margin: 20px;
}

.details {

  font-size: 16px;
  padding: 5px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: white;
  background-color: #343a40 !important;
  text-align: center;
}





/* //////////////////  login area  */





/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 100px;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 20%;
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent; /* Fallback color */
 /* background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }

